{
    "domain":"http://localhost",
    "port":3000,
    "cachify":false,
    "assets":{
        "/components/bootstrap/dist/css/bootstrap.css":[
            "/components/bootstrap/dist/css/bootstrap.css"
        ],
        "/css/style.min.css":[
            "/css/style.css"
        ],
        "/js/site.min.js":[
            "/js/site.js"
        ],
        "/components/jquery/jquery.min.js":[
            "/components/jquery/jquery.js"
        ],
        "/components/bootstrap/docs/assets/js/bootstrap.min.js":[
            "/components/bootstrap/docs/assets/js/bootstrap.js"
        ]
    },
    "sphereio":{
        "client_id" : "your client id",
        "client_secret" : "your client secret",
        "project_key" : "your project key"
    }
}