doctype html
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand: img(src="/images/complus_logo_medium.png", alt="Commerce Plus")
                .nav-collapse
                .container
                    .col-md-1
                        a(href="/") Home
                    each category in categories
                        .col-md-1: a(href="/"+category.slug.en) #{category.name.de}

    .container

        block content

        block footer
            footer.page-footer
                p &copy; Commerce Plus 2014


    | !{cachify_js('/components/jquery/dist/jquery.min.js')}
    | !{cachify_js('/components/bootstrap/dist/js/bootstrap.min.js')}
    | !{cachify_js('/js/site.js')}
    block scripts